*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
#particles{
    background-color: #574e4f;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-width: 42em;
    font-size: 18px;
    color: #f6e4e4;
    font-family: "Gentium Basic", Georgia, "Source Han Sans CN", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
.title{
    padding-bottom: 1em;
}
.title h1{
    margin: 0;
    font-size: 400%;
    color: #fff;
    font-weight: normal;
    line-height: 1;
}
.title h3{
    margin: 0;
    font-size: 120%;
    font-weight: normal;
    padding-left: 1em;
}
.main{
    line-height: 1.75;
}
.footer{
    padding-top: 4em;
    text-align: right;
    color: #999;
}
